html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(255, 191, 191) 50%,rgb(255, 163, 186) 51%);
    font-family: "Winky Sans",Arial, sans-serif;
    z-index: 10;
}
#navigation{
    font-size: clamp(3rem, 6vw, 4rem); 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0%;
    right: 0%;
    bottom: 3vmin;
    z-index: 11;
}
.arrow{
    user-select: none;
    text-align: center;
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
    transition: 200ms ease-in;
    background-size: cover;
}
#left{
    scale: -1;
}
#left.disabled{
    scale: 0;
}
#right{
    scale: 1;
}
#right.disabled{
    scale: 0;
}
.enabled {
    background-color: #d3d3d300;
    transition: scale 400ms, background-color 400ms, box-shadow 400ms;
    background-image: url("src/arrow.png");
}
.enabled:hover,
.enabled:focus {
    box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
    cursor: pointer;
    background-color: #fffcd0;
    outline: none;
}
.disabled{
    background-color: #00000000;
    background-image: url("src/X.png");
    transition: scale 700ms cubic-bezier(.84,0,.32,-0.67), 
    background-color 500ms cubic-bezier(.84,0,.32,-0.67),
    box-shadow 500ms cubic-bezier(.84,0,.32,-0.67);
    border-radius: 100%;
}

.slide{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: transform 800ms cubic-bezier(0,.72,.31,1.25);
    pointer-events: none;
    display: flex;
    flex-flow: column;
}
.slide .child {
    z-index: 5;
}
#slide-0{
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255, 191, 191),rgb(255, 205, 164));
}
#slide-1{
    left: 100vw;
    background: linear-gradient(90deg,rgb(255, 205, 164),rgb(255, 249, 159));
}
#slide-2{
    left: 200vw;
    background: linear-gradient(90deg,rgb(255, 249, 159),rgb(214, 255, 160));
}
#slide-3{
    left: 300vw;
    background: linear-gradient(90deg,rgb(214, 255, 160),rgb(193, 255, 180));
}
#slide-4{
    left: 400vw;
    background: linear-gradient(90deg,rgb(193, 255, 180),rgb(160, 241, 255));
}
#slide-5{
    left: 500vw;
    background: linear-gradient(90deg,rgb(160, 241, 255),rgb(158, 203, 255));
}
#slide-6{
    left: 600vw;
    background: linear-gradient(90deg,rgb(158, 203, 255),rgb(248, 168, 255));
}
#slide-7{
    left: 700vw;
    background: linear-gradient(90deg,rgb(248, 168, 255),rgb(255, 163, 186));
}
p{
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}
p{
    width: 100%;
    margin-left: 0%;
}
#index{
    display: flex;
    font-size: clamp(2rem, 4vw, 4rem); 
    user-select: none;
    min-height: fit-content;
    min-width: fit-content;
    text-align: center;
    border-radius: 3px;
}
.title{
    user-select: none;
    justify-self: center;
    align-self: center;
    position: relative;
    font-size: clamp(1rem, 3vw, 3.2rem); 
    padding-inline: 1rem;
    top: 1vmin;
    min-width: fit-content;
    border: 4px solid;
    border-radius: 5px;
}
h1{
    font-size: clamp(1.3rem, 4vmin, 3rem);
}
h2{
    margin-top: 2%;
    margin-inline: 10%;
    font-weight: 500;
    font-size: clamp(1rem, 3vmin, 2rem);
}
.endHeader{
    margin-top: 5%;
}
#creditScrean{
    width: fit-content;
    margin-top: 3%;
    margin-inline: auto;
}
ul{
    padding-left: 1rem;
}
#ul1{
    margin-inline: 10%;
}
ol{
   margin-inline: 10%;
}
li{
    font-size: clamp(1rem, 3vmin, 2rem);
}
#mainHeader{
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 50vh;
    user-select: none;
    height: auto;
    font-weight: 500;
    text-shadow: rgb(255, 121, 121) 0 0 15px;
    font-size: clamp(1.3rem, 5vw, 5rem);
}
@media (max-width: 600px) {
    .arrow{
        width: 12vmin;
        height: 12vmin;
    }
    .title{
        border: 2px solid;
    }
}