html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(255, 191, 191) 50%,rgb(255, 163, 186) 51%);
    font-family: "Winky Sans",Arial, sans-serif;
    z-index: 10;
}
#navigation{
    font-size: clamp(3rem, 6vw, 4rem); 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0%;
    right: 0%;
    bottom: 3vmin;
    z-index: 11;
}
.arrow{
    user-select: none;
    min-height: fit-content;
    min-width: fit-content;
    text-align: center;
    width: 8vmin;
    height: 8vmin;
    border-radius: 3px;
    transition: 300ms ease-in;
}
.enabled:hover,
.enabled:focus {
    cursor: pointer;
    color: wheat;
    background-color: #222222da;
    outline: none;
    transition: 160ms ease-in;
    scale: .95;
}
.disabled{
    background-color: #00000000;
    transition: 600ms cubic-bezier(.17,.02,1,.08);
    border-radius: 100%;
    scale: 0;
}
.slide{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: transform 800ms cubic-bezier(0,.72,.31,1.25);
    pointer-events: none;
    display: flex;
    flex-flow: column;
}
.slide .child {
    z-index: 5;
}
#slide-0{
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255, 191, 191),rgb(255, 205, 164));
}
#slide-1{
    left: 100vw;
    background: linear-gradient(90deg,rgb(255, 205, 164),rgb(255, 249, 159));
}
#slide-2{
    left: 200vw;
    background: linear-gradient(90deg,rgb(255, 249, 159),rgb(214, 255, 160));
}
#slide-3{
    left: 300vw;
    background: linear-gradient(90deg,rgb(214, 255, 160),rgb(193, 255, 180));
}
#slide-4{
    left: 400vw;
    background: linear-gradient(90deg,rgb(193, 255, 180),rgb(160, 241, 255));
}
#slide-5{
    left: 500vw;
    background: linear-gradient(90deg,rgb(160, 241, 255),rgb(158, 203, 255));
}
#slide-6{
    left: 600vw;
    background: linear-gradient(90deg,rgb(158, 203, 255),rgb(248, 168, 255));
}
#slide-7{
    left: 700vw;
    background: linear-gradient(90deg,rgb(248, 168, 255),rgb(255, 163, 186));
}
p{
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}
#index{
    display: flex;
    font-size: clamp(2rem, 4vw, 4rem); 
    user-select: none;
    min-height: fit-content;
    min-width: fit-content;
    text-align: center;
    border-radius: 3px;
}
.title{
    user-select: none;
    justify-self: center;
    align-self: center;
    position: relative;
    font-size: clamp(1rem, 2vw, 2rem); 
    padding-inline: 1rem;
    top: 1vmin;
    min-width: fit-content;
    border: 1px solid;
    border-radius: 5px;
}
h1{
    font-size: clamp(1.3rem, 4vw, 3rem);
}
.endHeader{
    margin-top: 5%;
}
#creditScrean{
    width: fit-content;
    margin-top: 3%;
    margin-inline: auto;
}
ul{
    padding-left: 1rem;
}
ol{
   margin-inline: 10%;
}
li{
    font-size: clamp(1rem, 3vw, 2rem);
}
#mainHeader{
    margin: auto;
    text-align: center;
    width: 95%;
    user-select: none;
    height: auto;
    font-weight: 500;
    text-shadow: rgb(255, 0, 0) 0 0 15px;
    font-size: clamp(1.3rem, 5vw, 5rem);
}
@media (max-width: 600px) {
    .enabled:hover,
    .enabled:focus {
    color: black;
    background-color: #ffffff00;
}
}